{% extends 'jobs/base.html' %}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <form action="applicant_details/questions.html">
    {% csrf_token %}
    {% for detail in object_list %}
        {% if detail.name%}
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="name" value="{{detail.name}}">
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="email" value="{{detail.email}}">
        </div>
        <div class="form-group">
            <label for="Phone">Phone:</label>
            <input type="text" class="form-control" id="phone" value="{{detail.phone}}">
        </div>
        <div class="form-group">
            <label for="Skills">Matching Skills:</label>
            <input type="text" class="form-control" id="skills" value="{{detail.matching_skills}}">
        </div>
        {% endif %}
    {% endfor %}
        <button>Next</button>
    </form>
</body>
</html>
{% endblock %}